<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!-- 上传文件大小为10M -->
    <httpRuntime maxRequestLength="10240" requestLengthDiskThreshold="1024"/>
  </system.web>
  <connectionStrings>
    <!-- 数据库连接字符串 -->
    <add connectionString="Data Source=(local);Initial Catalog=WorkDB;Integrated Security=True" name="WorkDB" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
